*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.font-size-14 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
}

.font-size-14-blue {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #19435A;
}

.font-size-16-black {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.font-size-16 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2E8CAD;
}

.font-size-16-white {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.font-size-18 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #50B2EA;
}

.font-weight-900 {
  font-weight: 900;
}

.font-size-48 {
  font-family: 'Mitr', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #2E8CAD;
}

.font-size-72 {
  font-family: 'Mitr', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  color: #2E8CAD;
}

.color-white {
  color: white;
}

.color-black {
  color: #000000;
}

.m-t-33px {
  margin-top: 33px;
}

.m-t-50px {
  margin-top: 50px;
}

.m-t-66px {
  margin-top: 66px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-12px {
  margin-bottom: 12px;
}

.m-b-14px {
  margin-bottom: 14px;
}

.m-b-30px {
  margin-bottom: 30px;
}

.m-b-33px {
  margin-bottom: 33px;
}

.m-b-42px {
  margin-bottom: 42px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-80px {
  margin-bottom: 80px;
}

.m-b-t-20px {
  margin: 20px 0;
}

.m-r-16px {
  margin-right: 16px;
}

.m-r-14px {
  margin-right: 14px;
}

.m-r-30px {
  margin-right: 30px;
}

.m-l-50 {
  margin: 0 50px;
}

.m-l-r-22px {
  margin: 0 22px;
}

.m-b-60-m-l-50 {
  margin: 0 0 60px 50px;
}

.p-t-l-r-30-b-32 {
  padding: 30px 30px 32px 30px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-l-r-30-b-50 {
  padding: 30px 30px 50px 30px;
}

.m-t-l-30-r-14 {
  margin: 30px 14px 0 30px;
}

.header {
  width: 100%;
  max-width: 1900px;
  height: auto;
  min-height: 1263px;
  background-color: white;
  background-image: url(./assets/images/Rectangle\ 236.png);
  background-size: cover;
  margin: 0 auto;
}

.header__logo {
  display: flex;
}

.header__aqua-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__button button {
  width: 160px;
  height: 50px;
  background: #2EBAEB;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
}

.header__button button::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 50px;
  left: 4px;
  top: 4px;
  border: 1px solid #2EBAEB;
  border-radius: 40px;
}

.header__button button:active {
  transform: translate(4px, 4%);
}

.header__contact-box {
  width: 100%;
  max-width: 480px;
  height: 465px;
  border-radius: 30px;
  background-color: #fff;
  padding: 60px 105px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__text-holder {
  width: 100%;
  height: 56px;
  background: #94D3EA;
  border-radius: 61px;
}

.header__text-holder-xs {
  width: 100%;
  max-width: 168px;
  height: 56px;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #94D3EA;
}

.about-us {
  width: 100%;
  max-width: 1900px;
  height: auto;
  margin: 0 auto;
}

.container__about-us__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__img-text-wrapper {
  width: auto;
  height: auto;
}

.container__img {
  display: flex;
}

.container__button.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  width: 100%;
  max-width: 1900px;
  height: auto;
  margin: 0 auto;
  background-color: #F2F2F2;
}

.services__img-tex-wrapper {
  background-color: #F2F2F2;
  width: 100%;
  max-width: 385px;
  height: auto;
}

.services__text-wrapper {
  background-color: #FFFFFF;
}

.testymonials {
  width: 100%;
  max-width: 1900px;
  height: auto;
  background-color: #95D4EB;
  margin: 0 auto;
}

.testymonials__img-text-wrapper {
  width: 100%;
  min-width: 575px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 20px 20px rgba(129, 209, 255, 0.2);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
}

.testymonials__img {
  width: 80px;
  height: 80px;
}

.testymonials__text-img {
  width: 100%;
}

.testymonials__footer {
  width: 100%;
  max-width: 1900px;
  height: 100px;
  margin: 0 auto;
  background: #47626B;
}


@media only screen and (max-width: 1199px) {
  .header__left-wrapper {
    width: auto;
    max-width: 480px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__contact-box {
    padding: 30px 60px;
    height: auto;
  }

  .header__button {
    margin: 50px;
  }

  .header__left-wrapper {
    width: auto;
    max-width: 480px;
  }
}

@media only screen and (max-width: 768px) {

  .services__img-tex-wrapper.media-m-b-30px {
    margin-bottom: 30px;
  }

  .testymonials__img-text-wrapper {
    min-width: 320px;
    border-radius: 20px;
  }

  .header__contact-box {
    margin-bottom: 50px;
  }

  .header__left-wrapper {
    width: auto;
    max-width: 480px;
  }
}

@media only screen and (max-width: 425px) {
  .header__contact-box {
    padding: 30px 30px;
    height: auto;
  }

  .testymonials__img-text-wrapper {
    border-radius: 0px;
  }

  .header__left-wrapper {
    width: auto;
    max-width: 480px;
  }
}

@media only screen and (max-width: 375px) {
  .testymonials__logo {
    font-size: 40px;
  }
}